@font-face {
    font-family: cock;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    background-color: rgba(192, 179, 179, 0.616);
    font-family: cock;
    margin: 0 auto;
}

.govno {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(255, 234, 228, 0.911);
    width: 500px;
    margin: 0 auto;
    height: 300px;
}

.govno__form {
    display: flex;
    font-size: 40px;
    color: rgb(27, 19, 19);
    
}

.govno__mail {
    display: flex;
    flex-direction: row;

}

.govno__mail-text {
    font-size: 27px;
}

.govno__wrong {
    border-color: rgb(233, 17, 17);
    background-color: rgb(250, 199, 199);
}

.wrong__text {
    color: rgb(233, 17, 17);
}

.hidden {
    display: none;
}

.user-govna {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}


.user-govna__user {
    font-size: 18px;
    color: rgb(7, 91, 19);
}

.user-govna__user__frame {
    border: 2px solid rgb(18, 61, 11); 
    display: flex;
    align-content: center;
    flex-direction: row;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
}

.user-govna__user__button {
    background-color: transparent;
    border: none;
    color: rgb(18, 61, 11);
    cursor: pointer;
    font-size: 25px;
}

.tmpl {
    background-color: rgb(15, 236, 45);
    padding: 15px;
    
}

.tmpl-text {
   font-size: 25px;
}